# Pandas con funciones Lambda
Recordando el archivo `eliminador de archivos.ipynb`, adaptaremos esa función para un archivo `.csv` usando la biblioteca `Pandas`. El archivo `.csv` se llama `csv para censurar.csv`, el cual tiene dos campos: `id` y `nombre`. El archivo se encuentra en el directorio `./otros`.

Para empezar con el programa primero importaremos la biblioteca antes mencionada.

In [1]:
import pandas as pd

Una vez importado pandas leeremos el archivo `.csv` para trabajarlo como un `data frame`.

Al `data frame` lo asignaremos a la variable `df` (un nombre estándar en este contexto).
Veremos el tipo de dato que es `df`.
Por último veremos algunos registros de todo el marco de datos.

In [2]:
df = pd.read_csv(r'./otros/csv para censurar.csv')#Usamos r-string para poder el símbolo /
print(type(df))
df.head(11)

<class 'pandas.core.frame.DataFrame'>

           id                     nombre
0   123456789          Juan Pérez García
1   987654321         Ana Martínez López
2   234567890  Carlos González Fernández
3   678901234    Maria Rodríguez Sánchez
4   345678901       Pedro Sánchez Romero
5   456789012       Luis Fernández Gómez
6   567890123      Elena Gómez Hernández
7   890123456         Marta Ruiz Jiménez
8   901234567      Daniel Moreno Vázquez
9   210987654       Lucía Jiménez Castro
10  320987654            Raúl Díaz Ortiz

Ya hemos visto cómo luce nuestro data frame, pero ahora queremos realizarle la censura. Recordemos lo usado en el programa `Censura de datos`.
Al método `.apply()` de `Pandas` programaremos la función a aplicar usando una función `lambda`.

In [3]:
df['nombre'] = df['nombre'].apply(lambda x:x[0]+''.join(['*' if i != ' ' else ' ' for i in x[1:]]))

Veremos el resultado después de haber usado la función anónima en el método `apply`.

In [4]:
df.head(11) #head es para ver algunas observaciones (o registros) del df y no todo el data frame.

           id                     nombre
0   123456789          J*** ***** ******
1   987654321         A** ******** *****
2   234567890  C***** ******** *********
3   678901234    M**** ********* *******
4   345678901       P**** ******* ******
5   456789012       L*** ********* *****
6   567890123      E**** ***** *********
7   890123456         M**** **** *******
8   901234567      D***** ****** *******
9   210987654       L**** ******* ******
10  320987654            R*** **** *****

Para guardar el resultado usaremos el método `to_csv` que guardara el `data frame` en un archivo `.csv`. Tenga en cuenta que si le ponemos el mismo nombre que el archivo original se estaría reemplazando el archivo por nuestra modificación, es decir, transformaríamos el csv por el csv con censura y de esta forma se eliminaría la información original de nuestra computadora y no habría rastro de los nombres completos.

Opción A)

In [36]:
df.to_csv('./otros/Resultado.csv', index=False) #Este código genera un csv nuevo.

Opción B)

In [ ]:
df.to_csv('./otros/csv para censurar.csv', index=False) #Este reescribe el csv, censurando los datos de manera definitiva.